.post-container {
  background-color: #ffffff;
  min-height: 110px;
  margin: 10px 0;
  box-shadow: 0px 0px 12px 3px rgba(81, 142, 125, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.delete-button {
  background-color: #518E7D;
  color: #ffffff;
  position: absolute;
  top: 50%;
  right: 15px;
}

.delete-button:hover i {
  color: #518E7D;
}

.post-item > div {
  width: 100%;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.post-item span {
  font-size: 16px;
  background-color: rgba(81, 142, 125, 1);
  display: block;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: bold;
}

.post-item a {
  color: #ffffff;
  text-decoration: none;
}

.post-item > div > div {
  padding: 15px 100px 15px 15px;
  font-size: 16px;
  word-wrap: break-word;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modal-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(81, 142, 125, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #d21638;
  padding: 15px;
  max-width: 1340px;
  margin: 0 auto;
  background-color: #ECF3F5;
}

.alert-message {
  font-size: 24px;
  color: #d21638;
}

.buttons-container {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.cancel-button,
.danger-button {
  display: flex;
  width: 80px;
  cursor: pointer;
  padding: 5px 10px;
  justify-content: center;
}

.danger-button:hover {
  background-color: #d21638;
  color: #ffffff;
}
